@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root {
  --white: #ffffff;
  --black: #000000;
  --light-nav: #A91079;
  --background-one: #170055;
  --background-two: #3A2DE4;
  --background-three: #252525;
  --card: #590696;
  --buttons: #A547E7;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background: var(--background-one);
  overflow: visible;
}
.menu {
  display: none;
}
/*Barra de navegacion*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  /*border-bottom: 1px solid #526066;*/
  background: var(--background-one);
  box-shadow: 0px -1px 5px 1px var(--black);
  z-index: 33
}
.nav-left {
  display: flex;
}
.nav-left img {
  width: 32px;
  margin: 14px;
}
.nav-left ul, .nav-right ul {
  list-style: none;
  padding: 0 3em 0 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
  gap: 16px;
}
.nav-right ul a {
  text-decoration: none;
  color: var(--light-nav);
}
.nav-right a:hover {
  color: #C989DB
}

/*.nav-right .nav-button .contact-button {
  background-color: var(--buttons);
  border: none;
  border-radius: 8px;
  color: var(--white);
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  width: 105px;
  height: 34px;
}*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
/*Titulo e imagen*/
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  padding: 0 168px 0 0;
  background: url(images/title-background.jpg);
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: 0px -1px 5px 1px var(--black) inset;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;
  width: 70%;
  height: 100%;
  color: var(--white);
  font-size: 54px;
  background: var(--background-one);
  clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
  padding: 0.5em 1em;
  box-shadow: 0px -1px 5px 1px var(--black) inset;
}
.title h1, p {
  animation: fadeIn;
  animation-duration: 2s;
  margin: 0;
}
.title p span {
  background: linear-gradient(19deg,#00e9ff 10%, #c7ebff 70%);
  background-clip: text;
  color: transparent;
}
.title h1 {
  margin: 0.5em 0 0 0
}
.title p {
}
.title .show-form {
  width: 156px;
  margin: 1em 0 3em 0;
  padding: 1em;
  background-color: var(--buttons);
  border: none;
  border-radius: 8px;
  color: var(--white);
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold; 
}
.title .show-form:hover {
  animation: button-blur 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(230,0,176,0.75);
  background: #D895FF;
}
.title .show-form:active {
  background: #7600DA
}
@keyframes button-blur {
  from {
    background-color: var(--buttons);
  }
  to {
    box-shadow: 0px 0px 8px 0px rgba(230,0,176,0.75);
    background: #D895FF;
  }
}
.title-img img {
  width: 300px;
}
/*Informacion de experiencia*/
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 96px;
  background: var(--background-three);
  animation: backInUp;
  animation-duration: 1s
}
.info .description {
  width: 1fr;
  height: auto

}
.info .description h2 {
  font-size: 27px;
  margin-bottom: 0;
  color: var(--light-nav);
  text-align: center;
}
.info .description p {
  margin-top: 0;
  color: var(--white);
  text-align: center;
}
.info .cards-container {
  display: flex;
  gap: 16px;
  padding: 24px 24px;
}
.cards-container .card {
  background: var(--card);
  border-radius: 8px;
  color: var(--white);
  text-align: center;
  font-weight: bold;
  padding: 16px;
}
.cards-container .card img {
  width: 128px;
}
/*Certificados*/
.certificates {
  height: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em 0 0;
  background: var(--background-two);
  animation: fadeInLeft;
  animation-duration: 2s;
  box-shadow: 0px -1px 5px 1px var(--black) inset;
}
.info-certificate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
  padding: 0 0 0 3em;
  gap: 1em;
  color: var(--white);
  background: url(images/about-background.jpg);
  clip-path: polygon(0 0, 88% 0, 100% 100%, 0 100%);
  box-shadow: 0px -1px 5px 1px var(--black) inset;
  text-shadow: 1px 1px 3px black;
}
.info-certificate h3 {
  padding: 0;
  margin: 0;
  width: 50%;
  font-size: 2em;
  margin-bottom: 0;
}
.info-certificate p {
  width: 50%;
  margin-top: 0;
}
.button-more {
  margin: 0 3em 0 0
}
.button-more button {
  background-color: var(--buttons);
  border: none;
  border-radius: 8px;
  color: var(--white);
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  width: 156px;
  padding: 1em;
  animation: shadow-pulse 3s infinite;
}
@keyframes shadow-pulse {
  0% {
    background-color: var(--buttons);
  }
  50% {
    background-color: #D895FF;
    box-shadow: 0px 0px 8px 3px rgba(239,24,242,0.75);
  }
  100% {
    background-color: var(--buttons);
  }
}
/*Habilidades*/
.progress {
  padding: 0 6em;
  color: var(--white);
}
.progress-info h2 {
  text-align: center;
}
.skills-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-bar-container {
  display: flex;
  flex-direction: column;
}
.progress-bar-container p {
  width: 80px;
  font-size: var(--lg);
  margin-bottom: 4px;
  padding: 0 1em;
}
.progress-bar-container .bar {
  width: 300px;
  overflow: hidden;
  margin: 0;
	padding: 2px;
  background: var(--card);
  border-radius: 8px;
}
.bar .bar-one {
  width: 70%;
  text-align: center;
  font-size: var(--sm);
  color: var(--white);
  background: #ff6c39;
  border-radius: 8px;
}
.bar .bar-two {
  width: 60%;
  text-align: center;
  font-size: var(--sm);
  color: var(--white);
  background: #35a8db;
  border-radius: 8px;
}
.bar .bar-three {
  width: 40%;
  text-align: center;
  font-size: var(--sm);
  color: var(--black);
  background: #f0db4f;
  border-radius: 8px;
}
.bar .bar-four {
  width: 50%;
  text-align: center;
  font-size: var(--sm);
  color: var(--white);
  background: var(--black);
  border-radius: 8px;
}
.skills-img img {
  width: 400px;
}
/*Proyectos*/
.projects {
  background: var(--background-three);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-content: center;
}
.projects-info h2 {
  text-align: center;
}
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
  margin: 1em 0 4em 0;
}
.project-card {
  background: var(--card);
  border-radius: 8px;
  text-align: center;
}
.projects-container img {
  width: 100px;
}

/*Pie de Pagina*/
.pie-pagina {
  background: var(--background-one);
  width: 100%;
  box-shadow: 0px -1px 5px 1px var(--black);
  overflow: hidden;
}
.pie-pagina p {
  padding: 1em 0;
  margin: 0;
  text-align: center;
  color: var(--white);
}
@media (max-width:640px) {
  .menu {
    display: block;
  }
  .nav-right ul li:nth-child(1) {
    display: none;
  }
  .nav-right ul li:nth-child(2) {
    display: none;
  }
  .nav-right ul li:nth-child(3) {
    display: none;
  }
  .nav-right ul li:nth-child(4) {
    display: none;
  }
  .title-container {
    padding: 24px 24px;
    flex-direction: column;
  }
  .title-container img {
    width: 100%;
  }
  .title {
    font-size: 27px;
  }
  .info {
    flex-direction: column;
  }
  .info .cards-container {
    padding: 24px 0px;
  }
  .cards-container .card img {
    width: 64px;
  }
  .certificates {
    flex-direction: column;
    padding: 2em 0;
  }
  .certificates .info-certificate {
    text-align: center;
  }
  .certificates .captures .card-capture:nth-child(2) {
    display: none;
  }
  .progress {
    padding: 0 2em;
  }
  .skills-content {
    flex-direction: column;
  }
  .skills-img {
    padding-top: 2em;
  }
  .skills-img img {
    width: 100%;
  }
}
